@import "tailwindcss";

@font-face {
    font-family: 'CustomGuardian';
    src: url('./assets/type/Guardian-EgypTT-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CustomGraphik';
    src: url('./assets/type/Graphik-Regular-Web.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CustomGraphik';
    src: url('./assets/type/Graphik-Medium-Web.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

.font-cg {
    font-family: 'CustomGuardian', serif;
}

.font-cw {
    font-family: 'CustomGraphik', sans-serif;
}




.font-g {
    font-family: Guardian-EgypTT, Charter, Charter Bitstream, Cambria, Noto Serif Light, Droid Serif, Georgia, "serif";
}

.font-w {
    font-family: Graphik Webfont, -apple-system, Helvetica Neue, Droid Sans, Arial, "sans-serif";
}

.curved-top {
    clip-path: circle(farthest-side at 50% -67%);
    clip-path: circle(farthest-side at 50% 100%);
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.move-left> div:nth-child(odd){
    position: relative;
    right: 1px;
}


@media (min-width: 1024px) {
    .curved-top {
        clip-path: none;
    }

        .move-left>div:nth-child(odd) {
            position: relative;
            right: 0;
        }


}